/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;/* set the box-sizing property for all our elements to border box*/
    margin: 0;/* so that later when we set the height or width to an element*/
    box-sizing: border-box;/* it will be applied to the entire element including the border*/
}

/*This should go directly under the style rule earlier with the asterisk*/
/*as it's next in line as the most generic of the style rules*/
/*and above the rest of the styles which are more specific*/
/* General styles */
body {
    min-height: 100vh;
    /*using min-height will allow it to stretch larger than */
    /*the height of the screen when there is enough content on the page that the user needs to scroll*/
    display: flex;
    /*We'll also want to set the display to flex and the flex-direction*/
    flex-direction: column;
    /*to column so that our elements will show under each other*/
   
/*Generic Project Styles*/
    color: #345365;
    /*initially showing up as just the bullet colour beside each of the nav items which then disappears when I set the list-style-type in navmenu to none*/
    font-family: 'Roboto Flex', sans-serif;
}

/* Header style rules*/
header {/*header is the outermost container*/
    background-color: #fbeec1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    /*we want the nav bar to scroll along. We'll set its position to fixed and use a high z-index value.*/
    /*use 99 to make sure it's layered on top of any other elements that might have a z-index later.*/
    box-shadow: 0 2px 2px #fbeec1;
    display:flex;
    align-items: center;
}

header a { 
    text-decoration: none;
    color: #345365;
}

header h1 {
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
    background-color: #fbeec1;
    letter-spacing: 2px;
    color: #345365;
    }

header p {
    font-family: 'Roboto Mono', sans-serif;
    background-color: #fbeec1;
    letter-spacing: 2px;
    color: #345365;
    padding-top: 1rem;
    align-items: center;
    align-self: center;
    align-content: center;
}

#logo-tagline-container {
    align-items: center;
    align-content: center;
    align-self: center;
}

#menu {
    color:#345365;
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-top: 1em;
}

.active {
    border-bottom: 1px solid #345365;
}

.fa-bars {
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

/*For toggle/dropdown menu the nav bar styles need to be separate from the rest of the header content*/
/*Navbar styles with collapsable menu*/
nav {
    position: absolute;
    /*absolute positioning takes an element outside the normal flow of the page structure.*/
    /*It is positioned relative to the nearest positioned ancestor, in our case, the header*/
    background-color: #fbeec1;
    width:100%;
    left:0;
    padding:0 1rem;
    box-shadow:0 2px 2px;
    display:none;
    top:100%;/*this tells the navigation element that the top of the element should start at the bottom of its parent*/
}

/*check boxes have a pseudo class that indicates when they are checked, we want the sibling nav element to display*/
/* use the tilde to indicate that we want to target the adjoining nav element*/
/*Nav toggle*/
#nav-toggle:checked~nav {
    display:block;
}

#nav-toggle {
    display:none;
}

.nav-toggle-label {
    font-size:2rem;
    background-color:#fbeec1;
}

/* Main content style rules */
main {
    /*Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 185px;
}
/*mobile view up to 320px*/
#home-page-top-image {
    height: 180px;
    width: 100%;
    background: url("../images/2-pugs-two-tone-and-black.webp") no-repeat center center/cover;
}

#thank-you {
    border: #fbeec1;
    border-style: solid;
    background-color: #fbeec1;
    height:250px;
    width: 100%;
    background: url("../images/pomeranian.webp")no-repeat center center/cover;
    font-size: 2rem;
}

main {
    background-color: #fbeec1;
    
}

#reason-question {
    display:flex;
    text-align: center;
    justify-content: center;
    background-color: #fbeec1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

#reasons {
    background-color: #fbeec1;
    color: #345365;
    padding: 2rem;
    display:block;
}

#reason-list-items>li {
    padding-bottom: 1.5rem;
    list-style-type: none;
}

/* Footer style rules */
footer {
    text-align: center;
    color: #345365;
    background-color:#fbeec1;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

footer a {
    color: #345365;
    font-size: x-large;
    padding: 0.5em;
}

footer p {
    padding-top: 1em;
}

/*Media query: medium mobile (375px & above)*/
@media screen and (min-width:375px) {

#home-page-top-image {
        height: 200px;
        width: 100%;
        background: url("../images/2-pugs-two-tone-and-black.webp") no-repeat center center/cover;
}

#thank-you {
    border: #fbeec1;
    border-style: solid;
    background-color: #fbeec1;
    height:240px;
    width: 100%;
    background: url("../images/pomeranian.webp")no-repeat center center/cover;
    font-size: 2rem;
}

main {
    background-color: #fbeec1;
    
}

#reason-question {
    display:flex;
    text-align: center;
    background-color: #fbeec1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

#reasons {
    background-color: #fbeec1;
    color: #345365;
    padding: 2rem;
    display:block;
}

#reason-list-items>li {
    padding-bottom: 1.5rem;
    list-style-type: none;
}
}

/*Media query: large mobile (425px & above)*/
@media screen and (min-width:425px) {

    #home-page-top-image {
            height: 240px;
            width: 100%;
            background: url("../images/2-pugs-two-tone-and-black.webp") no-repeat center center/cover;
    }
    
    #thank-you {
        border: #fbeec1;
        border-style: solid;
        background-color: #fbeec1;
        height:240px;
        width: 100%;
        background: url("../images/pomeranian.webp")no-repeat center center/cover;
        font-size: 2rem;
    }

    main {
        background-color: #fbeec1;
        
    }
    }

/*Media query: tablets & larger (768px & above) >=768px*/
@media screen and (min-width: 768px) {
    /*Header*/
nav {
    display:block;/*to make sure the nav bar is always displayed so we can see all the nav links*/
    position:relative;/*so the nav bar will appear back inside the header*/
    box-shadow:none;
    width:fit-content;/*no longer takes up all the space in the header, allowing flex styles from earlier to push it to the right*/
    padding-right: 1rem;/*so menu items won't stick to the right of the screen*/
}

#menu {
    display:flex;/*so items will now show side by side & not under each other*/
}

#menu>li {
    padding-left:1rem;
}

.nav-toggle-label{
    display: none; 
}

#logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem; 
}

/*Main Content*/
main {
    /*Push main content down to accommodate larger header*/
    margin-top: 83px;
}

#home-page-top-image {
    height: 500px;
    width: 100%;
    background: url("../images/2-pugs-two-tone-and-black.webp") no-repeat center center/cover;
}
#thank-you {
    height:1024px;
    width: 100%;
    background: url("../images/pomeranian.webp")no-repeat center center/cover;
    font-size: 6.5rem;
}


}

/*Media query:laptops & desktops (992px & above) >=992px*/
@media screen and (min-width:992px){
    #menu a:hover{
        border-bottom: 1px solid #345365;
    }

    #home-page-top-image {
        display:block;
        margin-left: auto;
        margin-right: auto;
        height: 500px;
        width: 60%;
        background: url("../images/2-pugs-two-tone-and-black.webp") no-repeat center center/cover;
    }

    #thank-you {
        height:1024px;
        width: 100%;
        background: url("../images/pomeranian.webp")no-repeat center center/cover;
        font-size: 6.5rem;
    }

    #thank-you {
        border: #fbeec1;
        border-style: solid;
        background-color: #fbeec1;
        height:250px;
        width: 100%;
        background: url("../images/pomeranian.webp")no-repeat center center/cover;
        font-size: 2rem;
    }
    
    main {
        background-color: #fbeec1;
        
    }
    
    #reason-question {
        display:flex;
        text-align: center;
        background-color: #fbeec1;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }
    
    #reasons {
        background-color: #fbeec1;
        color: #345365;
        padding: 1rem;
        display:flex;
        text-align: center;
    }
    
    .reason-list-items>li {
        display:flex;
        text-align: center;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/*Media query:laptops & desktops (1024px & above) >=1024px*/
@media screen and (min-width:1024px){
    #menu a:hover{
        border-bottom: 1px solid #345365;
    }

    #home-page-top-image {
        display:block;
        margin-left: auto;
        margin-right: auto;
        height: 600px;
        width: 80%;
        background: url("../images/2-pugs-two-tone-and-black.webp") no-repeat center center/cover;
    }

    #thank-you {
        height:1024px;
        width: 100%;
        background: url("../images/pomeranian.webp")no-repeat center center/cover;
        font-size: 7rem;
    }

    #reasons {
        background-color: #fbeec1;
        color: #345365;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
        display:flex;
        text-align: center;
    }
}

/*Media query:laptops & desktops (1440px & above) >=1440px*/
@media screen and (min-width:1440px){
    #menu a:hover{
        border-bottom: 1px solid #345365;
    }

    #home-page-top-image {
        display:block;
        margin-left: auto;
        margin-right: auto;
        height: 600px;
        width: 60%;
        background: url("../images/2-pugs-two-tone-and-black.webp") no-repeat center center/cover;
    }

    #thank-you {
        height:1020px;
        width: 100%;
        background: url("../images/pomeranian.webp")no-repeat center center/cover;
        font-size: 8.5rem;
    }

    #reason-question {
        display:flex;
        text-align: center;
        background-color: #fbeec1;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }

    #reasons {
        background-color: #fbeec1;
        color: #345365;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
        display:flex;
        text-align: center;
    }
}

/*Media query:laptops & desktops (1920px & above) >=1920px*/
@media screen and (min-width:1920px){
    #menu a:hover{
        border-bottom: 1px solid #345365;
    }

    #home-page-top-image {
        display:block;
        margin-left: auto;
        margin-right: auto;
        height:600px;
        width: 60%;
        background: url("../images/2-pugs-two-tone-and-black.webp") no-repeat center center/cover;
    }

    #thank-you {
        height:1020px;
        width: 100%;
        background: url("../images/pomeranian.webp")no-repeat center center/cover;
        font-size: 9rem;
    }

    #reasons {
        background-color: #fbeec1;
        color: #345365;
        padding-left: 10rem;
        padding-right: 10rem;
        display:flex;
        text-align: center;
    }

    #reason-question {
        display:flex;
        text-align: center;
        background-color: #fbeec1;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

/*Media query:laptops & desktops (2560px & above) >=2560px*/
@media screen and (min-width:2560px){

    #menu a:hover{
        border-bottom: 1px solid #345365;
    }

    #home-page-top-image {
        display:block;
        margin-left: auto;
        margin-right: auto;
        height: 700px;
        width:50%;
        background: url("../images/2-pugs-two-tone-and-black.webp") no-repeat center center/cover;
    }

    main {
        background-color: #fbeec1;
    }

    #thank-you {
        height:1020px;
        width: 100%;
        background: url("../images/pomeranian.webp")no-repeat center center/cover;
        font-size: 10rem;
    }

    #reasons {
        background-color: #fbeec1;
        color: #345365;
        padding-left: 10rem;
        padding-right: 10rem;
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
        display:flex;
        text-align: center;
    }
}

