/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;/* set the box-sizing property for all our elements to border box*/
    margin: 0;/* so that later when we set the height or width to an element*/
    box-sizing: border-box;/* it will be applied to the entire element including the border*/
}

/*This should go directly under the style rule earlier with the asterisk*/
/*as it's next in line as the most generic of the style rules*/
/*and above the rest of the styles which are more specific*/
/* General styles */
body {
    min-height: 100vh;
    /*using min-height will allow it to stretch larger than */
    /*the height of the screen when there is enough content on the page that the user needs to scroll*/
    display: flex;
    /*We'll also want to set the display to flex and the flex-direction*/
    flex-direction: column;
    /*to column so that our elements will show under each other*/
   
/*Generic Project Styles*/
    color: yellow;
    /*initially showing up as just the bullet colour beside each of the nav items which then disappears when I set the list-style-type in navmenu to none*/
    font-family: 'Roboto Flex', sans-serif;
}

/* Header style rules*/
header {/*header is the outermost container*/
    background-color: blue;
    padding: 0 1rem;
    /*add some padding left and right to prevent our text from
    sticking to the side of the screen.*/
    position: fixed;
    width: 100%;
    z-index: 99;
    /*we want the nav bar to scroll along. We'll set its position to fixed and use a high z-index value.*/
    /*use 99 to make sure it's layered on top of any other elements that might have a z-index later.*/
    box-shadow: 0 2px 2px yellow;
    display:flex;
    justify-content:space-between;
    align-items:baseline;
}

header a {
    margin-top: 0.5em;
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
    background-color: blue;
    letter-spacing: 2px;
    color: yellow;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-top: 1em;
}

.active {
    border-bottom: 1px solid yellow;
}

.fa-bars {
    margin-right: 0.5em;
}

/*For toggle/dropdown menu the nav bar styles need to be separate from the rest of the header content*/
/*Navbar styles with collapsable menu*/
nav {
    position: absolute;
    /*absolute positioning takes an element outside the normal flow of the page structure.*/
    /*It is positioned relative to the nearest positioned ancestor, in our case, the header*/
    background-color:blue;
    width:100%;
    left:0;
    padding:0 1rem;
    box-shadow:0 2px 2px;
    display:none;
    top:100%;/*this tells the navigation element that the top of the element should start at the bottom of its parent*/
}

/*check boxes have a pseudo class that indicates when they are checked, we want the sibling nav element to display*/
/* use the tilde to indicate that we want to target the adjoining nav element*/
/*Nav toggle*/
#nav-toggle:checked~nav {
    display:block;
}

#nav-toggle {
    display:none;
}

.nav-toggle-label {
    font-size:2rem;
    background-color:blue;
}

/* Main content style rules */
main {
    background-color:blue;
    /*Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top:49px;
}

/* Footer style rules */
footer {
    background-color: yellow;
    color: blue;
}

#social-media {
    text-align: center;
    color: blue;
}



/*Media query: tablets & larger (768px & above) >=768px*/
@media screen and (min-width: 768px) {
    /*Header*/
nav {
    display:block;/*to make sure the nav bar is always displayed so we can see all the nav links*/
    position:relative;/*so the nav bar will appear back inside the header*/
    box-shadow:none;
    width:fit-content;/*no longer takes up all the space in the header, allowing flex styles from earlier to push it to the right*/
    padding-right: 1rem;/*so menu items won't stick to the right of the screen*/
}

#menu {
    display:flex;/*so items will now show side by side & not under each other*/
}

#menu>li {
    padding-left:1rem;
}

.nav-toggle-label{
    display: none; 
}

#logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem; 
}

/*Main Content*/
main {
    /*Push main content down to accommodate larger header*/
    margin-top: 83px;
}
}

/*Media query:laptops & desktops (992px & above) >=992px*/
@media screen and (min-width:992px){
    #menu a:hover{
        border-bottom: 1px solid yellow;
    }

}



/*body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    background-color: #659DBD;
}

h1,
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}*/

/* If you want to use this code for your page, copy everything below this point and give attribution to: Responsive Navigation based on Malia Havlicek's codepen: https://codepen.io/maliahavlicek/pen/LYeBwNY */

/*html {
    scroll-behavior: smooth;
}

nav {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    font-family: 'Droid Sans', sans-serif;
}

.menu {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    align-self: center;
    font-size: 18px;
    padding: 14px 0;
    transition: background .2s linear;
}

.nav-item {
    background: #659DBD;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.nav-item li a {
    color: white;
}

.nav-item li a:hover {
    background: #FBEEC1;
    color: #8D8741;
}

.menu #logo a {
    font-size: 24px;
    letter-spacing: 2px;
    color: peachpuff;
    padding: 11px 0;
}

.menu #logo a:hover {
    color: black;
}

#menuToggle,
.show-mobile,
.toggle {
    display: none;
}*/

/* phones and portrait tablets */
/*@media screen and (max-width: 768px) {

    a.show-mobile {
        text-decoration: none;
        color: #595959;
        display: inline-block;
    }

    #logo.hide-mobile {
        display: none;
    }

    .toggle {
        color: #595959;
        padding: 0 1.2rem;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 2.4rem);
        text-align: left;
        line-height: 40px;
        cursor: pointer;
        height: 40px;
        font-size: 18px;
        color: #595959;
        background: #dbdbdb;
        transition: all .1s linear;
    }

    #menuToggle:checked~ul.nav-item li {
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }

    #menuToggle:checked~ul.nav-item {
        height: 200px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0px;
        transition: height .3s linear;
    }

    .menu li {
        display: flex;*/
/* magic */
/*align-self: center;
        width: 100%;
        opacity: 0;
        visibility: hidden;
    }

    .menu li a {
        width: 100%;
        text-align: left;
        align-self: center;
        align-content: center;
        margin-left: 1.2rem;
    }
}

section {
    padding: 2.4rem 1.2rem;
}

.container {
    max-width: 1200px;
}

.bg-navy {
    color: white;
    background: #21336b;
}

form {
    margin-top: 2rem;
}

.container-1 {
    border-right: 20px red solid;
    border-left: 20px red solid;
    border-bottom: 20px red solid;
    border-top: 20px red solid;
}*/